*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    gap: 1rem;
    height: 100vh;
    display: grid;
    grid-template-areas: "header header"
                         "main main"
                         "section section"
                         "footer footer";
grid-template-rows: auto auto auto auto;
}
.header{
    grid-area: header header;
    background-color: blueviolet;
}
.main{
    grid-area: main main;
    background-color: aquamarine;
}
.section{
    grid-area: section section;
    background-color: blue;
}
.footer{
    grid-area: footer footer;
    background-color: chartreuse;
}

